discovery.docker "docker_monitoring" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "docker_monitoring" {
  targets = discovery.docker.docker_monitoring.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    regex         = "/(.*)"
    target_label  = "container"
  }

  rule {
    source_labels = ["container"]
    regex         = "(alertmanager|speedtest-exporter|prometheus-msteams|cadvisor|blackbox-exporter|grafana|prometheus|loki|alloy|node_exporter|traefik|gitlab_gitlab_1|gitlab-runner|runner-.*|elasticsearch-exporter)"
    action        = "drop"
  }
}

loki.source.docker "docker_monitoring" {
  host       = "unix:///var/run/docker.sock"
  targets    = discovery.relabel.docker_monitoring.output
  forward_to = [loki.write.default.receiver]

  labels = {
    server = "Monitoring"
  }
}

loki.write "default" {
  endpoint {
    url = "http://loki:3100/loki/api/v1/push"
  }

  external_labels = {}
}
